<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="maping" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python34\python.exe| C:\projects\internationalization\wfastcgi.py" resourceType="File" />
            <add name="FlaskHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python34\python.exe| C:\projects\internationalization\manage.py" resourceType="Unspecified" />
            <add name="Python Interpreter" path="*.py" verb="*" modules="CgiModule" scriptProcessor="C:\Python34\python.exe %s %s" resourceType="File" />
            <add name="i18N haandlre" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python34\python.exe|C:\projects\internationalization\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
