{% extends 'smartapp/base.html' %}

{% block titleblock %}
<title>NioBerry</title>
{% endblock %}

{% block sidebar %}

<div class="text2">

    <b><a href='/'>HOME</a></b>
    <br>
    <br>
    <b><a href='/article/all/'>Sitemap</a></b>
    <br>
    <br>
</div>

{% endblock %}

{% block content %}

<div class="text2">

    <br> <br>

    <h2>
        <i>Oh no!</i>
        <br>
        <br>
        No records found!
        <br>
        Please try a broader search with lesser search criteria.
    </h2>
    <br>
</div>

{% endblock %}


{% block footer %}
<small>© 2016 Veritas</small>

{% endblock %}