{% load staticfiles %}
<html>
<head>
    <title>NioBerry</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>

<div class="page-header">
    <img src="https://www.veritas.com/content/dam/Veritas/images/logos/veritas/veritas-logo.png" alt="Veritas">
    <!-- This line inserts the PLUS sign on the top of page-->
    <a href="{% url 'nbucompsearch' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
    <!--<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>-->
    <h1><a href="/">NioBerry</a></h1>
    <h2><a href="/">NioBerry</a></h2>
</div>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">NioBerry</a>
        </div>
        <ul class="nav navbar-nav">
            <!--<li class="active"><a href="/nbucompsearch/">Home</a></li>-->
            <li class="active"><a href="/home/">Home</a></li>
            <li><a href="/nbucompsearch/">Backup</a></li>
            <li><a href="/nbucompdbview">Restore</a></li>
            <li><a href="#"></a></li>
        </ul>
    </div>
</nav>

<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>